*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 97vw;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    background-color: rgb(233, 216, 233);
}
.main{
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}
.searching input{
    width: 180px;
    height: 40px;
    padding: 13px;
    margin-bottom: 15px;
    border: none;
    outline: 1px;
    font-family: 'monospace';
    font-size: 17px;
    margin-left: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
}
.matter{
    margin-left:15px;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(9, 9, 161);
}
.expenses{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 10px;
}
.adding{
    display: flex;
}
.add input{
    width: 250px;
    height: 40px;
    padding: 13px;
    margin-bottom: 15px;
    border: none;
    outline: 1px;
    font-family: 'monospace';
    font-size: 17px;
    margin-left: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
}
.cost input{
    margin-left: 15px;
    width: 130px;
    height: 40px;
    padding: 13px;
    margin-bottom: 15px;
    border: none;
    outline: 1px;
    font-family: 'monospace';
    font-size: 17px;
    margin-left: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    
}
.adding button{
    margin-left: 15px;
    height: 40px;
    width: 80px;
    background-color: rgb(8, 8, 126);
    border: none;
    outline: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    color: white;

}
#clear1{
    width: 270px;
    height: 40px;
    margin-left: 150px;
    margin-top: 4px;
    background-color: rgb(8, 8, 126);
    border: none;
    outline: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
/* js tags styling */
.divTag{
    height: 47px;
    width: 500px;
    background-color: rgb(244, 247, 246);
    margin-bottom: 7px;
}
.subDiv{
    width: 325px;
    /* background-color: white; */
    padding: 10px;
    justify-content: space-between;
}
.firstDiv{
    margin-left: 10px;
    font-size: 20px;
}
.secondDiv{
    font-size: 20px;
}
.deleteExpenses, .edit{
    width: 70px;
    height: 35px;
    margin-left: 15px;
    margin-top: 4px;
    background-color: black;
    border: none;
    outline: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    color: black;
    border-radius: 5px;
}
.adding.add{
    width: 10px;
}